* {
    box-sizing: border-box;
}

body {
    margin-top: 200px;
    font-family: 'Roboto', "sans-serif";
    background-color: #f7f7f7;
}

main {
    display: flex;
    width: 60%;
    margin: auto;
    box-shadow: 1px 2px 8px grey;
}


section {
    padding: 50px;
}

section#Company {
    background-color: #fff;
    width: 50%;
    text-align: center;

}

#moreInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

section#companyForm {
    background-color: #172A39;
    width: 50%;
}

section#companyForm > h1 {
    color: #fff;
}

input, button {
    padding: 10px;
    margin: 10px;
    width: 300px;
    border: none;
}

button {
    background-color: #40b2ac;
    color: #fff;
}


/* Form H1 */
#companyForm:nth-child(2) {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}